{% extends 'base.html' %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Count</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for product_cart in object_list %}
            <tr>
                <td>{{ product_cart.product.product_name }}</td>
                <td>{{ product_cart.product.cost }}</td>
                <td>{{ product_cart.count }}</td>
                <td>{{ product_cart.subtotal }}</td>
                <td>
                    <form action="{% url 'delete_cart' pk=product_cart.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">Total Cost:</td>
            <td>{{ total_cost }}</td>
            <td>
                <form action="{% url 'create_order' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark">Create Order</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
