{% extends "base.html" %}
{% block title %}Confirm delete{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <form action="{% url 'confirm_delete' product.pk %}" method="post">
        <h1 class=>Are you sure?</h1>
        <p class="name">Name: {{ product.product_name }}</p>
        <img src="{{ product.image }}" class="card-img-top" style="width: 300px; height: 300px; margin-bottom: 35px; margin-top: 20px" alt="...">
        {% csrf_token %}
        <p class="submit_delete"><input type="submit" value="Delete"><a href="{% url 'index_page' %}" class="home_page">No</a>
        </p>
    </form>
{% endblock %}