{% extends 'base.html' %}
{% block title %}
    Index
{% endblock %}
{% block menu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
    </li>
{% endblock %}
{% block content %}
    <form class="d-flex" role="search" method="GET">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit" >Search</button>
    </form>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 20px">
        {% for product in products %}
            <div class="col">
                <div class="card h-100" style="height: 200px;width: 300px;">
                    <img src="{{ product.image }}" class="card-img-top" style="width: 295px; height: 150px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                        <p class="card-text">{{ product.category }}</p>
                        <p class="card-text">{{ product.cost }}</p>
                        <a href="{% url 'details' product.pk %}" class="btn btn-dark">See more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}